In [38]:
import pandas as pd

In [39]:
from google.colab import files
uploaded = files.upload()

Saving pima-indians-diabetes.data to pima-indians-diabetes (2).data

In [40]:
df_diabetes_data=pd.read_csv("pima-indians-diabetes.data")

In [41]:
df_diabetes_data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [42]:
feature_names=['Pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

In [43]:
df_diabetes_data=pd.read_csv("pima-indians-diabetes.data",names=feature_names)

In [44]:
df_diabetes_data.head()

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [45]:
feature_select_col=['Pregnant','insulin','bmi','age']
X_feature=df_diabetes_data[feature_select_col]
Y_target=df_diabetes_data['label']

In [46]:
X_feature.shape

(768, 4)

In [47]:
Y_target.shape
Y_target.head()

0    1
1    0
2    1
3    0
4    1
Name: label, dtype: int64

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_feature,Y_target,random_state=1)

In [49]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(x_train,y_train)

LogisticRegression()

In [50]:
y_pred=logreg.predict(x_test)

In [51]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.6927083333333334

0->means no diabetes detected
1-> means diabetes  detected

In [52]:
print("actual",y_test.values[0:30])
print("  pred",y_pred[0:30])

actual [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
  pred [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]